body {
    background-color: #3f72af;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    min-height: 100vh;
}

.body-container {
    background-color: #3f72af;
    display: grid;
    grid-template-rows: 10% 85% 5%;
    min-height: 100vh;
}

a {
    color: white;
    text-decoration: none;
}
/* NAV BAR */

.navbar {
    grid-row-start: 1;
    position: absolute;
    height: 70px;
    width: 100%;
    background-color: #3f72af;
    display: grid;
    grid-template-columns: 80% 20%;
}

.logo {
    grid-column-start: 1;
    top: 10px;
    left: 40px;
    position: absolute;
    width: 200px;
}
.profile-pic-small {
    grid-column-start: 2;
    height: 50px;
    width: 50px;
    border: 1px solid #112d4e;
    border-radius: 50%;
    justify-self: flex-end;
    margin-top: 10px;
    margin-right: 40px;
    padding: 2px;
    z-index: 2;
    object-fit: cover;
}
/* CENTRAL CONTAINER */
.central-container {
    grid-row-start: 2;
    justify-content: stretch;
    align-content: stretch;
    display: grid;
    grid-template-columns: 50% 50%;
}
.error-message {
    color: firebrick;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
}
.bikerz-not-found-message {
    width: 60%;
    z-index: 99;
    position: absolute;
    left: 30%;
    color: floralwhite;
}
.logo-container {
    width: 600px;
}

.logo-container-center {
    justify-self: center;
    width: 800px;
}
/* ROUTE CONTAINER REGISTRATION */

.left-registration {
    padding-left: 40px;
    padding-top: 40px;
}

.right-registration {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
}

.form-registration {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input {
    width: 400px;
    height: 70px;
    font-size: 20px;
    background-color: #3f72af;
    border: 0;
    border-bottom: 1px solid #f9f7f7;
}

::placeholder {
    color: #f9f7f7;
}

.btn-register {
    width: 100px;
    justify-self: center;
    border: 1px solid #f9f7f7;
    background-color: #3f72af;
    margin: 15px;
    color: #f9f7f7;
    border-radius: 10px;
}

.form-registration > a {
    color: #f9f7f7;
}

/* ROUTE CONTAINER LOGIN */
.login-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
}

.login-registration {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.link-login {
    color: #f9f7f7;
    padding-right: 10px;
    padding-top: 10px;
    font-style: italic;
}

.login-input {
    width: 400px;
    height: 70px;
    font-size: 20px;
    background-color: #3f72af;
    border: 0;
    border-bottom: 1px solid #f9f7f7;
}
.btn-login {
    width: 100px;
    justify-self: center;
    border: 1px solid #f9f7f7;
    background-color: #3f72af;
    margin: 15px;
    color: #f9f7f7;
    border-radius: 10px;
}

/* ROUTE CONTAINER RESET */
.reset-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 30% 70%;
    justify-content: space-around;
    justify-content: center;
    align-content: center;
}

.reset-input {
    width: 300px;
    height: 30px;
    font-size: 14px;
    background-color: #3f72af;
    border: 0;
    border-bottom: 1px solid #f9f7f7;
}

.reset-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.reset-input {
    width: 300px;
    height: 30px;
    font-size: 14px;
    background-color: #3f72af;
    border: 0;
    border-bottom: 1px solid #f9f7f7;
}

.btn-send-code {
    color: #f9f7f7;
    height: 30px;
    width: 200px;
    font-size: 20px;
    background-color: #3f72af;
    border: 1px solid #f9f7f7;
    border-radius: 20px;
    margin-top: 10px;
}

/* UPLOADER CONTAINER */
.uploader-container {
    position: absolute;
    top: 375px;
    left: 60px;
    background-color: #3f72af;
    width: 140px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #112d4e;
    padding: 10px;
}

.form-input {
    height: 50px;
    display: grid;
    grid-template-rows: 50% 50%;
}

.inputfile {
    height: 20px;
    width: 70px;
    grid-row-start: 1;
    background-color: #f9f7f7;
    align-self: center;
    justify-self: center;
}
.form-input > button {
    width: 100px;
    grid-row-start: 2;
    align-self: flex-end;
    justify-self: center;
    border: 1px solid #112d4e;
    background-color: #3f72af;
    color: #112d4e;
}

/* MENU BAR CONTAINER */

.menu-bar-container {
    position: absolute;
    top: 10px;
    right: 95px;
    /* background-color: #f9f7f7; */
    width: 360px;
    height: 34px;
    border: 1px solid #112d4e;
    padding: 10px;
    z-index: 1;
    border-radius: 26px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.link-navbar {
    font-size: 20px;
    color: #112d4e;
    margin-right: 5px;
    align-self: center;
}
/* PROFILE CONTAINER */

.profile-container {
    border-top: 1px solid #112d4e;
    margin-top: 10px;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 40px;
}
.profile-container-other {
    background-color: #112d4e;
    border: 5px solid #f0a500;
    padding: 40px;
    grid-row-start: 2;
    display: grid;
    align-self: center;
    justify-self: center;
    grid-template-columns: 20% 80%;
    /* margin: 10%; */
}
.profile-right-container {
    padding-left: 15px;
}

.profile-right-container > h2 {
    color: #f0a500;
    font-size: 40px;
}
.profile-container-pic {
    height: 250px;
    grid-row-start: 1;
    object-fit: cover;
    justify-content: center;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.changepic {
    position: relative;
    left: 40px;
    top: 160px;
    width: 30px;
    height: 30px;
    z-index: 3;
    border-radius: 50%;
    background-color: #112d4e;
}

.camera-icon {
    position: relative;
    left: 5px;
    top: 5px;
    align-self: center;
    width: 20px;
}
.bio-container {
    background-color: darkolivegreen;
}
.profile-pic-big {
    border: 5px solid #112d4e;
    border-radius: 50%;
    object-fit: cover;
    width: 150px;
    height: 150px;
    justify-items: center;
    object-fit: cover;
    z-index: 2;
}

/* BIO CONTAINER */
.bio-container {
    background-color: deeppink;
}

textarea {
    background-color: #112d4e;
    border-bottom: 1px solid #dbe2ef;
    width: 500px;
    height: 150px;
    font-size: 16px;
}

.my-bio {
    border-bottom: 1px solid #dbe2ef;
    width: 500px;
    height: 150px;
    color: #dbe2ef;
    font-size: 16px;
}
.my-bio > h3 {
    font-style: italic;
    font-weight: lighter;
}
.btn-update-bio {
    width: 100px;
    justify-self: center;
    border: 1px solid #f9f7f7;
    background-color: #3f72af;
    margin: 15px;
    color: #f9f7f7;
    border-radius: 10px;
}

.notificationDot {
    position: absolute;
    right: 38px;
    top: 18px;
    width: 12px;
    height: 12px;
    z-index: 3;
    border-radius: 50%;
    background-color: #f0a500;
}

/* FIND BIKERZ COMPONENT */
.find-bikerz-container {
    border-top: 1px solid #112d4e;
    margin-top: 10px;
    width: 100%;
    margin: 40px;
    justify-content: center;
    grid-row-start: 2;
}
.find-bikerz-input {
    height: 30px;
}

.result-input {
    grid-row-start: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    padding: 15px;
}
.user-result-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 200px;
    width: 200px;
    padding: 10px;
    margin: 15px;
}
.result-icon {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    justify-self: center;
    border: 2px solid #f0a500;
}

.friendship-button-container {
    width: auto;

    display: flex;
    flex-direction: row;
}
.friendship-button-container > button {
    width: 100px;
    height: 40px;
    justify-self: center;
    border: 1px solid #f9f7f7;
    background-color: #3f72af;
    margin: 15px;
    color: #f9f7f7;
    border-radius: 10px;
}

/* FRIENDS COMPONENT */
.result-icon-friends-wannabes {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #f0a500;
}

.button-friend-wannabe-reque {
    background-color: deeppink;
}
.friends-or-wannabes {
    grid-row-start: 2;
    border-top: 1px solid #112d4e;
    margin-top: 10px;
    width: 90%;
    padding: 40px;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 10% 90%;
}

.friends-or-wannabes > h6 {
    color: #f0a500;
    font-size: 15px;
    align-self: flex-start;
    margin: 0;
}
.result-container > button {
    width: 30px;
    height: 30px;
    justify-self: center;
    background-color: #f0a500;
    margin: 5px;
    padding: 0;
    color: #f9f7f7;
    border-radius: 5px;
    font-size: 13px;
}
.result-container > h3 {
    font-size: 10px;
    margin: 0;
}
.button-wannabe > button {
    width: 30px;
    height: 30px;
    justify-self: center;
    background-color: #f0a500;
    margin: 5px;
    padding: 0;
    color: #f9f7f7;
    border-radius: 5px;
    font-size: 13px;
}

.cancel {
    border: 2px solid orangered;
}
.accept {
    border: 2px solid darkseagreen;
}
.button-wannabe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.result-container {
    width: 110px;
    height: 140px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    background-color: #3467a5;
    margin: 5px;
}
.wannabes > h6,
.friends > h6,
.myFriendRequest > h6 {
    color: #f0a500;
    font-size: 18px;
    width: 100%;
    margin: 10px 0 0 0;
}
.wannabes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    grid-column-start: 1;
    grid-row-start: 2;
}
.wannabe-result-container {
    margin: 50px;
    font-size: 10px;
}
.friends {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    grid-column-start: 2;
}
.myFriendRequest {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    grid-column-start: 3;
}
.friends-result-container {
    margin: 50px;
    font-size: 10px;
}
/* CHAT */

.pvt-chat {
    grid-row-start: 2;
    position: absolute;
    justify-self: flex-end;
    bottom: 5%;
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: deeppink;
    z-index: 99;
}
.chat-and-online-container {
    grid-row-start: 2;
    justify-self: flex-end;
    align-self: flex-end;
    display: grid;
    grid-template-rows: 50% 50%;
    background-color: deeppink;
}

.online-container {
    grid-row-start: 2;
    right: 502px;
    align-self: flex-end;
    height: 504px;
    width: 50px;
    position: absolute;
    /* background-color: deepskyblue; */
    display: grid;
    grid-template-columns: auto;
    align-content: flex-end;
    justify-content: center;
    /* border: 0.5px solid #f0a500; */
}

.chat-container {
    /* grid-column-start: 1; */
    background-color: deeppink;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-rows: 10% 75% 15%;
    border: 2px solid #f0a500;
}

.up-bar-chat {
    grid-row-start: 1;
    background-color: #112d4e;
    height: 100%;
    width: 100%;
}
.up-bar-chat > h4 {
    color: #f0a500;
    padding-left: 20px;
}
.chat-container > textarea {
    grid-row-start: 3;
    background-color: #112d4e;
    height: 100%;
    width: auto;
    padding: 0;
    color: #f0a500;
}
.chat-messages-container {
    grid-row-start: 2;
    display: flex;
    flex-direction: column-reverse;
    background-color: #112d4e;
    height: 100%;
    width: 100%;

    overflow-y: scroll;
    padding: 0;
    color: #749dcf;
}
.chat-message {
    background-color: #dbe2ef;
    margin: 5px;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 20% 80%;
}
.chat-message > h4 {
    grid-row-start: 2;

    grid-column-start: 1;
    grid-column-end: -1;
}
.chat-message > h6 {
    color: #f0a500;
    margin: 0;
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: -1;
}

.chat-button {
    width: 100px;
    height: 40px;
    justify-self: center;
    border: 1px solid #f9f7f7;
    background-color: #3f72af;
    margin: 15px;
    color: #f9f7f7;
    border-radius: 10px;
}
.result-icon-on-chat {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: -1;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;
    width: 25px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #f0a500;
}

.friends-icon-on-chat {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: -1;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;
    width: 25px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid greenyellow;
}
/* FOOTER */
footer {
    grid-row-start: 3;
    align-self: end;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #112d4e;
    color: #dbe2ef;
    height: 100%;
}
