body {
    background-color: #3f72af;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    min-height: 100vh;
}

.body-container {
    background-color: #3f72af;
    display: grid;
    grid-template-rows: 10% 85% 5%;
    min-height: 100vh;
}
/* NAV BAR */

.navbar {
    grid-row-start: 1;
    position: absolute;
    height: 70px;
    width: 100%;
    background-color: #3f72af;
    display: grid;
    grid-template-columns: 80% 20%;
}

.logo {
    grid-column-start: 1;
    top: 10px;
    left: 40px;
    position: absolute;
    width: 200px;
}
.profile-pic-small {
    grid-column-start: 2;
    height: 50px;
    border: 1px solid #112d4e;
    border-radius: 50%;
    justify-self: flex-end;
    margin-top: 10px;
    margin-right: 40px;
    padding: 2px;
    z-index: 2;
}
/* CENTRAL CONTAINER */
.central-container {
    grid-row-start: 2;
    justify-content: stretch;
    align-content: stretch;
    display: grid;
    grid-template-columns: 50% 50%;
}
.error-message {
    color: firebrick;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
}

.logo-container {
    width: 600px;
}

.logo-container-center {
    justify-self: center;
    width: 800px;
}
/* ROUTE CONTAINER REGISTRATION */

.left-registration {
    padding-left: 40px;
    padding-top: 40px;
}

.right-registration {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
}

.form-registration {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input {
    width: 400px;
    height: 70px;
    font-size: 20px;
    background-color: #3f72af;
    border: 0;
    border-bottom: 1px solid #f9f7f7;
}

::placeholder {
    color: #f9f7f7;
}

.btn-register {
    width: 100px;
    justify-self: center;
    border: 1px solid #f9f7f7;
    background-color: #3f72af;
    margin: 15px;
    color: #f9f7f7;
    border-radius: 10px;
}

.form-registration > a {
    color: #f9f7f7;
}

/* ROUTE CONTAINER LOGIN */
.login-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
}

.login-registration {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.link-login {
    color: #f9f7f7;
    padding-right: 10px;
    padding-top: 10px;
    font-style: italic;
}

.login-input {
    width: 400px;
    height: 70px;
    font-size: 20px;
    background-color: #3f72af;
    border: 0;
    border-bottom: 1px solid #f9f7f7;
}
.btn-login {
    width: 100px;
    justify-self: center;
    border: 1px solid #f9f7f7;
    background-color: #3f72af;
    margin: 15px;
    color: #f9f7f7;
    border-radius: 10px;
}

/* ROUTE CONTAINER RESET */
.reset-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 30% 70%;
    justify-content: space-around;
    justify-content: center;
    align-content: center;
}

.reset-input {
    width: 300px;
    height: 30px;
    font-size: 14px;
    background-color: #3f72af;
    border: 0;
    border-bottom: 1px solid #f9f7f7;
}

.reset-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.reset-input {
    width: 300px;
    height: 30px;
    font-size: 14px;
    background-color: #3f72af;
    border: 0;
    border-bottom: 1px solid #f9f7f7;
}

.btn-send-code {
    color: #f9f7f7;
    height: 30px;
    width: 200px;
    font-size: 20px;
    background-color: #3f72af;
    border: 1px solid #f9f7f7;
    border-radius: 20px;
    margin-top: 10px;
}

/* UPLOADER CONTAINER */
.uploader-container {
    position: absolute;
    top: 305px;
    left: 40px;
    background-color: #3f72af;
    width: 140px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #112d4e;
    padding: 10px;
}

.form-input {
    height: 50px;
    display: grid;
    grid-template-rows: 50% 50%;
}

.inputfile {
    height: 20px;
    width: 70px;
    grid-row-start: 1;
    background-color: #f9f7f7;
    align-self: center;
    justify-self: center;
}
.form-input > button {
    width: 100px;
    grid-row-start: 2;
    align-self: flex-end;
    justify-self: center;
    border: 1px solid #112d4e;
    background-color: #3f72af;

    color: #112d4e;
}

/* MENU BAR CONTAINER */

.menu-bar-container {
    position: absolute;
    top: 10px;
    right: 95px;
    /* background-color: #f9f7f7; */
    width: 360px;
    height: 34px;
    border: 1px solid #112d4e;
    padding: 10px;
    z-index: 1;
    border-radius: 26px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.link-navbar {
    font-size: 20px;
    color: #112d4e;
    margin-right: 5px;
    align-self: center;
}
/* PROFILE CONTAINER */

.profile-container {
    border-top: 1px solid #112d4e;
    margin-top: 10px;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 40px;
}
.profile-right-container {
    padding-left: 15px;
}
.profile-container-pic {
    height: 250px;
    grid-row-start: 1;
    object-fit: cover;
    justify-content: center;
    object-fit: cover;
}
.changepic {
    position: relative;
    left: 100px;
    top: 155px;
    width: 25px;
    height: 25px;
    z-index: 3;
    border-radius: 50%;
}
.camera-icon {
    width: 25px;
}
.bio-container {
    background-color: darkolivegreen;
}
.profile-pic-big {
    border: 1px solid #112d4e;
    border-radius: 50%;

    height: 150px;
    justify-items: center;
    object-fit: cover;
    z-index: 2;
}

/* BIO CONTAINER */
.bio-container {
    background-color: deeppink;
}

textarea {
    background-color: #112d4e;
    border-bottom: 1px solid #dbe2ef;
    width: 500px;
    height: 150px;
    font-size: 16px;
}

.my-bio {
    border-bottom: 1px solid #dbe2ef;
    width: 500px;
    height: 150px;
    color: #dbe2ef;
    font-size: 16px;
}
.my-bio > h3 {
    font-style: italic;
    font-weight: lighter;
}
.btn-update-bio {
    width: 100px;
    justify-self: center;
    border: 1px solid #f9f7f7;
    background-color: #3f72af;
    margin: 15px;
    color: #f9f7f7;
    border-radius: 10px;
}

/* FIND BIKERZ COMPONENT */
.find-bikerz-container {
    background-color: coral;
    border-top: 1px solid #112d4e;
    margin-top: 10px;
    grid-row-start: 2;

    margin: 40px;
    display: grid;
    justify-content: center;
}
.find-bikerz-input {
    background-color: salmon;
    height: 30px;
    grid-row-start: 2;
}
.title {
    grid-row-start: 1;
}
.result-input {
    grid-row-start: 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

}
/* FOOTER */

footer {
    grid-row-start: 3;
    align-self: end;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #112d4e;
    color: #dbe2ef;
}
